.idea/
cache/
extracted_content/
filtered_extraction_results_bright_combined/
filtered_extraction_results_combined/
filtered_extraction_results_o4-mini/
outputs/
outputs_old/
eduva-451909-3d4eca932a53.json
client.json