retrieval/cache/
retrieval/extracted_content/
retrieval/filtered_extraction_results_bright_combined/
retrieval/filtered_extraction_results_combined/
retrieval/filtered_extraction_results_o4-mini/
retrieval/outputs/
retrieval/outputs_old/
retrieval/eduva-451909-3d4eca932a53.json
retrieval/client.json
agentic_retrieval/.env
agentic_retrieval/.venv
agentic_retrieval/.vscode
agentic_retrieval/cache/
agentic_retrieval/runs/
agentic_retrieval/fixed_turn_runs/
agentic_retrieval/fixed_turn_runs_old_copy/

